map $http_host $corsdomains {
  hostnames;

  default "false";

{{range .}}
  {{.}} "true";
{{end}}
}

map $request_method $corsmethods {
  default "false";

  OPTIONS "preflight";

  GET "simple";
  PUT "simple";
  HEAD "simple";
  POST "simple";
}
