map $http_host $corsdomains {
  hostnames;

  default "false";

  # Your allowed domain goes here
  #.your-domain.tld "true";
  #.other-domain.tld "true";
}

map $request_method $corsmethods {
  default "false";

  OPTIONS "preflight";

  GET "simple";
  PUT "simple";
  HEAD "simple";
  POST "simple";
}
