port=53

domain-needed
bogus-priv
no-resolv

server=1.0.0.1
server=1.1.1.1
server=8.8.8.8

dhcp-option=252,"http://127.0.0.1:{{.SquidPort}}/wpad.dat"

{{ if eq .Logs "yes" }}
log-queries=quiet
{{ end }}
log-facility=-

{{range .Domains}}
address=/{{.}}/127.0.0.1
{{end}}
